%table#apps-table{:class => "table table-bordered table-hover"}
  %thead
    %tr
      %th.thsort{:scope => "col"}=t('apps.application_head')
      %th.thsort{:scope => "col"}=t('apps.health_head')
      %th.thsort{:scope => "col"}=t('apps.instances_head')
      %th.thsort{:scope => "col"}=t('apps.memory_head')
      %th.thsort{:scope => "col"}=t('apps.disk_head')
      %th.thsort{:scope => "col"}=t('apps.framework_head')
      %th.thsort{:scope => "col"}=t('apps.runtime_head')
      %th.thsort{:scope => "col"}=t('apps.services_head')
      %th.thcenter{:scope => "col", :width => "12%"}=t('apps.actions_head')
  %tbody
    = render :partial => "app_item", :collection => @apps

= render "app_new"
= render "app_upload_bits"