#flash{:class => "alert hidden"}
  %a.close{:class => "close","data-dismiss" => "alert",:href => "#"}
  #flash-content
    - flash.each do |key, value|
      .message{:class => key}
        %p= value

- if !flash.empty?
  - content_for :javascripts do
    :javascript
      $(function() {
        $('#flash').fadeIn('slow');
      });



      class="close" data-dismiss="alert"