%div{:class =>"chart box no-border non-collapsible"}
  %div{:class =>"pie-percentage", "data-percent" =>"55"}
    %span
      55
  %div{:class =>"pie-label"}
    New visits
  %div{:class =>"pie-percentage", "data-percent" =>"46"}
    %span
      55
  %div{:class =>"pie-label"}
    Bounce rate
  %div{:class =>"pie-percentage", "data-percent" =>"92"}
    %span
      92
  %div{:class =>"pie-label"}
    Server load
  %div{:class =>"pie-percentage", "data-percent" =>"84"}
    %span
      752
  %div{:class =>"pie-label"}
    Used RAM
